<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{admin/he_fo_ad::head}"></head>
    <body class="d-flex flex-column min-vh-100"> <!-- flex y min-vh-100 para que el body ocupe toda la altura -->
        <div th:insert="~{admin/he_fo_ad::header}"></div>

        <main class="flex-grow-1">
            <div class="col-md-4">
                <!-- Mostrar mensajes de éxito -->
                <div th:if="${success != null}">
                    <div class="alert alert-success" role="alert">
                        <span th:text="${success}"></span>
                    </div>
                </div>
                <!-- Mostrar mensajes de error si existen -->
                <div th:if="${error != null}">
                    <div class="alert alert-danger" role="alert">
                        <span th:text="${error}"></span>
                    </div>
                </div>
            </div>
            <div class="container mt-5 my-5">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <h4 class="text-center">Historial de Compras</h4>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>N° Whatsapp</th>
                                        <th>Dirección</th>
                                        <th>Productos</th>
                                        <th>Cantidad</th>
                                        <th>Pago Total</th>
                                        <th>Imagen</th>
                                        <th>Pago</th>
                                        <th>Envio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="pedidoAgrupado : ${pedidosAgrupados}">
                                        <td th:text="${pedidoAgrupado.name}"></td>
                                        <td th:text="${pedidoAgrupado.numero}"></td>
                                        <td th:text="${pedidoAgrupado.shippingAddress}"></td>
                                        <td>
                                            <ul>
                                                <li th:each="detalle : ${pedidoAgrupado.detallesPedido}" th:text="${detalle.product.name}"></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul>
                                                <li th:each="detalle : ${pedidoAgrupado.detallesPedido}" th:text="${detalle.quantity}"></li>
                                            </ul>
                                        </td>
                                        <td th:text="${pedidoAgrupado.totalAmount} + ' soles'"></td>
                                        <td>
                                            <div th:each="detalle : ${pedidoAgrupado.detallesPedido}">
                                                <img th:src="@{/images/{img}(img=${detalle.product.image})}" alt="Imagen"
                                                     class="zoomable-image img-thumbnail" style="width: 30px; height: auto;" data-bs-toggle="modal" data-bs-target="#imageModal" th:data-bs-img-src="@{/images/{img}(img=${detalle.product.image})}">
                                            </div>
                                        </td>
                                        <td>
                                            <img th:src="@{/images/{img}(img=${pedidoAgrupado.imagenPago})}" alt="Pago"
                                                 class="zoomable-image img-thumbnail" style="width: 80px; height: auto;" data-bs-toggle="modal" data-bs-target="#imageModal" th:data-bs-img-src="@{/images/{img}(img=${pedidoAgrupado.imagenPago})}">
                                        </td>
                                        <td>
                                            <a th:href="@{/admin/compras/envio/{pedidoId}(pedidoId=${pedidoAgrupado.detallesPedido[0].order.id})}" class="btn btn-outline-primary">
                                                <i class="fa-solid fa-truck-fast"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>


        <!-- Modal para mostrar imagen ampliada -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img id="modalImage" src="" alt="Imagen Ampliada" class="img-fluid" style="max-width: 100%; height: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="~{admin/he_fo_ad::footer}"></div>
    </body>
    <script th:src="@{/js/modal.js}" type="text/javascript"></script>
</html>