<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{admin/he_fo_ad::head}"></head>
    <body class="d-flex flex-column min-vh-100"> <!-- flex y min-vh-100 para que el body ocupe toda la altura -->
        <div th:insert="~{admin/he_fo_ad::header}"></div>

        <main class="flex-grow-1">
            <div class="container mt-5 my-5">
                <div class="row">
                    <h2 class="text-center">Inventario</h2>
                    <div class="col-md-4">
                        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                            <div class="card-body">
                                <h4 class="card-title text-center">Añadir</h4>
                                <hr>
                                <form class="form-horizontal" th:action="@{/admin/products/stock}" method="post">
                                    <input type="hidden" name="idproduct" th:value="${idproduct}">
                                    <div class="form-group">
                                        <label class="control-label" for="unitIn">Cantidad:</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="entradas"
                                                   name="entradas" placeholder="Ingrese la cantidad del producto"
                                                   required autocomplete="off">
                                        </div>
                                    </div>
                                    <br>
                                    <hr>
                                    <div>
                                        <button type="submit" class="btn btn-outline-info">
                                            <span class="glyphicon glyphicon-saved"></span> Guardar 
                                            <i class="fa-regular fa-share-from-square"></i>
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-8">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <th>Entrada/Unidades</th>
                                <th>Salida/Unidades</th>
                                <th>Descripción</th>
                                <th>Saldo/Unidades</th>	
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="stock:${stocks}">
                                        <td th:text = "${stock.entradas}"></td>
                                        <td th:text = "${stock.salidas}"></td>
                                        <td th:text = "${stock.descripcion}"></td>
                                        <td th:text = "${stock.balance}"></td>
                                    </tr>       
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:insert="~{admin/he_fo_ad::footer}"></div>
    </body>
</html>