<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{he_fo_us::head}"></head>
    <body class="d-flex flex-column min-vh-100"> <!-- flex y min-vh-100 para que el body ocupe toda la altura -->
        <div th:insert="~{he_fo_us::header}"></div>

        <!-- Contenido Principal -->
        <main class="flex-grow-1">
            <div class="container mt-5 my-5">
                <!-- Política de Privacidad -->
                <div class="container section-content">
                    <h2 class="highlight">Política de Privacidad</h2>
                    <p>En <strong>LN_MIAL</strong>, respetamos tu privacidad y nos comprometemos a proteger la información personal
                        que compartas con nosotros. Todos los datos proporcionados son tratados de manera confidencial y utilizados
                        únicamente para mejorar tu experiencia de compra. A continuación, describimos cómo recolectamos y usamos tu
                        información:</p>
                    <ul>
                        <li>Recopilamos información personal, como tu nombre, dirección de correo electrónico y detalles de pago
                            cuando realizas una compra.</li>
                        <li>Utilizamos tus datos para gestionar pedidos, mejorar nuestra tienda, y enviarte ofertas y promociones
                            especiales, siempre con tu consentimiento.</li>
                        <li>LN_MIAL nunca compartirá tu información con terceros sin tu permiso expreso, salvo para cumplir con la
                            ley.</li>
                    </ul>
                    <p>Si deseas obtener más información sobre nuestra política de privacidad o eliminar tu cuenta, puedes
                        comunicarte con nuestro equipo de soporte en cualquier momento.</p>
                </div>

                <!-- Términos de Uso -->
                <div class="container section-content">
                    <h2 class="highlight">Términos de Uso</h2>
                    <p>Al utilizar nuestro sitio web y servicios, aceptas los siguientes <strong>Términos de Uso</strong>:</p>
                    <ol>
                        <li>El contenido de nuestra tienda, incluyendo imágenes y descripciones de productos, está protegido por
                            derechos de autor. No se permite su uso sin permiso.</li>
                        <li>Los usuarios deben ser mayores de edad para realizar compras. Los padres o tutores pueden ayudar a los
                            menores a realizar sus compras bajo su supervisión.</li>
                        <li>LN_MIAL se reserva el derecho de modificar precios y descripciones de productos en cualquier momento sin
                            previo aviso.</li>
                        <li>Las compras realizadas están sujetas a la disponibilidad de los productos. En caso de falta de stock, el
                            cliente será notificado a la mayor brevedad posible.</li>
                    </ol>
                    <p>Nos esforzamos para garantizar que todos los usuarios de LN_MIAL tengan una experiencia placentera y segura.
                        Si tienes alguna pregunta sobre estos términos, no dudes en contactarnos.</p>
                </div>
            </div>
        </main>
        <div th:insert="~{he_fo_us::footer}"></div>
    </body>
</html>