<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{he_fo_us::head}"></head>
    <body class="d-flex flex-column min-vh-100">
        <div th:insert="~{he_fo_us::header}"></div>
        <main class="flex-grow-1 content">
            <div class="container mt-5 my-5">
                <div class="row">
                    <h4 class="text-center">Carrito de Compras</h4>
                    <!-- Mostrar mensajes de éxito -->
                    <div th:if="${success != null}">
                        <div class="alert alert-success" role="alert">
                            <span th:text="${success}"></span>
                        </div>
                    </div>
                    <!-- Mostrar mensajes de error si existen -->
                    <div th:if="${error != null}">
                        <div class="alert alert-danger" role="alert">
                            <span th:text="${error}"></span>
                        </div>
                    </div>
                    <!-- Columna Izquierda: Tabla de Productos -->
                    <br>
                    <div class="col-md-8">
                        <div th:if="${cart.isEmpty()}" class="alert alert-warning text-center" role="alert">
                            <p>No hay productos en tu carrito.</p>
                        </div>
                        <table class="table table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Total</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${!cart.isEmpty()}" th:each="item : ${cart}">
                                    <td th:text="${item.product.name}"></td>
                                    <td>
                                        <form th:action="@{/user/carrito/update/{id} (id=${item.id})}" method="post" style="display: inline-block;">
                                            <input type="number" name="newQuantity" th:value="${item.quantity}" min="1" max="${item.product.stock}" class="form-control" style="width: 70px; display: inline-block;">
                                            <button type="submit" class="btn btn-outline-primary" title="Actualizar cantidad">
                                                <i class="fas fa-sync-alt"></i>
                                            </button>
                                        </form>
                                    </td>

                                    <td>S/ <span th:text="${item.product.price}"></span></td>
                                    <td>S/ <span th:text="${item.quantity * item.product.price}"></span></td>
                                    <td>
                                        <form th:action="@{/user/carrito/delete/{id} (id=${item.id})}" method="post" onsubmit="updateCartCount()">
                                            <button type="sumit" class="btn btn-outline-danger"><i class="fa-regular fa-trash-can"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                            <div class="card-body">
                                <h4 class="card-title text-center">Resumen del Pedido</h4>
                                <hr>
                                <p><strong>Total a pagar:</strong> S/ <span th:text="${totalAmount}"></span></p>
                                <a  th:if="${!cart.isEmpty()}" th:href="@{/user/checkout}" class="btn btn-black text-white">
                                    <i class="fa fa-credit-card text-white"></i>Ir a Pagar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- icono del whatsapp -->
            <a href="https://wa.me/51928581983" class="btn-whatsapp" target="_blank">
                <i class="fab fa-whatsapp" alt="Contactar por whatsapp"></i>
            </a>
        </main>
        <div th:insert="~{he_fo_us::footer}"></div>
    </body>
</html>
