<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{he_fo_us::head}"></head>
    <body class="d-flex flex-column min-vh-100"> <!-- flex y min-vh-100 para que el body ocupe toda la altura -->
        <div th:insert="~{he_fo_us::header}"></div>

        <!-- Contenido Principal -->
        <main class="flex-grow-1 content" style="background-color: white;">
            <div class="container mt-5 my-5">
                <div class="row">
                    <div class="col-12 text-center">
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-md-3"  th:each="product : ${products}">
                        <a th:href="@{/order-details/product/{id}(id=${product.id})}" class="no-underline"> <!--detlle pedidocontro-->
                            <div class="card mb-3">
                                <div class="image1-container">
                                    <!--image - entity-->
                                    <img th:src="@{/images/{image}(image=${product.image})}" class="card-img-top" alt="Imagen del producto"
                                         th:if="${product.image != null}"/>
                                    <img th:src="@{/images/default.png}" class="card-img-top" alt="Imagen del producto" th:if="${product.image == null}"/>
                                </div>
                                <div class="card-body">
                                    <p class="card-title open-sans"><strong>[[${product.name}]]</strong></p><!--entity-->
                                    <p class="card-text">S/ [[${product.price}]]</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- icono del whatsapp -->
            <a href="https://wa.me/51928581983" class="btn-whatsapp" target="_blank">
                <i class="fab fa-whatsapp" alt="Contactar por whatsapp"></i>
            </a>
        </main>
        <div th:insert="~{he_fo_us::footer}"></div>
    </body>
</html>

