<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{he_fo_us::head}"></head>
    <body class="d-flex flex-column min-vh-100">
        <div th:insert="~{he_fo_us::header}"></div>

        <main class="flex-grow-1 content">
            <div class="container mt-5 my-5">
                <h4 class="text-center">Detalle de Envío</h4>
                <br>
                <!-- Mensaje de error si no existen detalles del envío -->
                <div th:if="${envio == null}" class="alert alert-warning text-center" role="alert">
                    El administrador aún no ingresa los datos del envío para este pedido, 
                    primero revisará el comprobante de pago si es verdadero, 
                    si hay algun inconveniente con el pago, 
                    nos estaremos comunicando por Whatsapp si existe algun incoveniente.
                </div>
                <div th:if="${envio != null}">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Método de Envío</th>
                                    <th>Fecha de Envío</th>
                                    <th>Fecha Estimada de Entrega</th>
                                    <th>Estado del Envío</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td th:text="${envio.shippingMethod}"></td>
                                    <td th:text="${shippingDateFormatted}"></td>
                                    <td th:text="${estimatedDeliveryDateFormatted}"></td>
                                    <td th:text="${envio.shippingStatus}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                    <!-- icono del whatsapp -->
                    <a href="https://wa.me/51928581983" class="btn-whatsapp" target="_blank">
                        <i class="fab fa-whatsapp" alt="Contactar por whatsapp"></i>
                    </a>
        </main>
        <div th:insert="~{he_fo_us::footer}"></div>
    </body>
</html>